<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="mycss.css">
</head>
<script src="https://builder.yaas.io/public/js/vendor/jquery/dist/jquery.min.js"></script>
<script src="https://builder.yaas.io/public/js/vendor/underscore/underscore.js">	</script>
<script src="https://builder.yaas.io/public/js/vendor/angular/angular.js">	</script>
<script src="https://builder.yaas.io/public/js/vendor/restangular/dist/restangular.js">	</script>		
<script>

function entryWithEquals(str) {
	return str.includes("=")
}
function entryWithoutEquals(str) {
	return !str.includes("=")
}
var app = angular.module('tipsApp', ['restangular']);

app.config(function(RestangularProvider) {
	var location = window.location.href.replace("/#", "");
	location = location.replace("index.html", "");
	RestangularProvider.setBaseUrl(location);
});

app.controller('tipsController', function($scope, Restangular, $http ) {	
		
	$scope.LOCAL_URL="http://localhost:8080" // PERHAPS NEEDS_ADJUSTING IF YOU CHANGE YOUR DEFAULT PORTS
	$scope.CLOUD_URL="https://klyaasbite4.cfapps.us10.hana.ondemand.com" // NEEDS_ADJUSTING BUT KEEP HTTPS PROTOCOL
	$scope.SERVICES_API_PROXY_URL="https://api.yaas.io/yaasbites77/yaasbite0711/v1" // NEEDS_ADJUSTING BUT KEEP HTTPS PROTOCOL
	$scope.OAUTH_URL = "https://api.yaas.io/hybris/oauth2/v1/token"		
	
	$scope.setBaseUrl = function(useTenant){			
		if ($scope.serverLocation==="local")
			$scope.tips_service_url =$scope.LOCAL_URL
		else if ($scope.serverLocation==="cloud")
			$scope.tips_service_url = $scope.CLOUD_URL  
		else {
			$scope.tips_service_url = $scope.SERVICES_API_PROXY_URL
			$scope.tenantName = $scope.tokenDetailsTenant;
		}
		if (useTenant)
			Restangular.setBaseUrl($scope.tips_service_url+"/"+$scope.tenantName);
		else
			Restangular.setBaseUrl($scope.tips_service_url);		
	}
	
	$scope.getReadyToCall = function( restangular, useTenant ){
		$scope.responseData=null
		$scope.errorMessage=null
		$scope.setBaseUrl(useTenant);
		if ($scope.includeToken=='YES')
			restangular.setDefaultHeaders({Authorization:'Bearer '+ $scope.token});
		else
			restangular.setDefaultHeaders({});		
	}
	
	$scope.ping = function(){
		if(!$scope.validateTenantName(false))
    		return;

		$scope.getReadyToCall(Restangular, true)	
		Restangular.one("ping").get().then(		
			function(data) {
				$scope.responseData = data.toString(); //Restangular.stripRestangular(data)
			}, 
			function(response) {
				$scope.errorMessage = response.status + ' '+response.data.message;
		  	}
		);
	}
	$scope.getAllTips = function(){
		$scope.getReadyToCall(Restangular, false)	
		Restangular.all("tips").getList().then(
			function(data) {
				$scope.responseData = Restangular.stripRestangular(data)
			}, 
			function(response) {
				$scope.errorMessage = response.status + ' '+response.data.message;
		  	}
		);
	}
	
	$scope.getTips = function(){
		$scope.getReadyToCall(Restangular, true)	
		if(!$scope.validateTenantName(false))
    		return;

		Restangular.all("tips").getList().then(		
			function(data) {
				$scope.responseData = Restangular.stripRestangular(data)
			}, 
			function(response) {
				$scope.errorMessage = response.status + ' '+response.data.message;
		  	}
		);
	}
	
	$scope.sensitiveMethodForVIPsOnly = function(){
		$scope.getReadyToCall(Restangular, false)	
		Restangular.all("tips").remove().then(		
			function(data) {
				$scope.responseData = Restangular.stripRestangular(data)
			}, 
			function(response) {
				$scope.errorMessage = response.status + ' '+response.data.message;
		  	}
		);
	}
	
    $scope.postTip = function(){
		$scope.getReadyToCall(Restangular, true)	
		if(!$scope.validateTenantName(false) || !$scope.validateText(true))
			return;
		var json = { 'tip': ''+$scope.tipText }    	
		Restangular.all("tips").post(json).then(
			function(data) {
    			$scope.getTips()
	    	}, 
			function(response) {
				$scope.errorMessage = response.status + ' '+response.data.message;
		  	}
		);
	}	
    
    $scope.putTip = function(){
		$scope.getReadyToCall(Restangular, true)	
		if(!$scope.validateTenantName(false) || !$scope.validateId(true) || !$scope.validateText(false) )
			return;
    	var json = { 'tip': ''+$scope.tipText }    	
    	Restangular.one("tips/"+$scope.tipId).customPUT(json).then(
    		function(data) {
				$scope.getTips()
    		}, 
			function(response) {
				$scope.errorMessage = response.status + ' '+response.data.message;
		  	}
		);
	}	
    
    $scope.deleteTip = function(){
		$scope.getReadyToCall(Restangular, true)	
		if(!$scope.validateTenantName(false) || !$scope.validateId(true))
			return;
    	Restangular.one("tips/"+$scope.tipId).remove().then(
    		function(data) {
    			$scope.getTips()
        	}, 
			function(response) {
				$scope.errorMessage = response.status + ' '+response.data.message;
		  	}
		);
	}	
    
	$scope.validateText = function(clearMsg){
		if(clearMsg)
			$scope.errorMessage = ""
		if ($scope.tipText)
			return true;
		$scope.errorMessage = "Woops, no Tip Text has been given";
		return false;
	}
	
	$scope.validateId = function( clearMsg){
		if(clearMsg)
			$scope.errorMessage = ""
		if ($scope.tipId && $scope.tipId >-1)
			return true;
		$scope.errorMessage = "Woops, the ID is empty or invalid";
		return false;
	}
	
	$scope.requestToken = function(){
		$scope.responseData=null
		$scope.errorMessage=null
		
		if (!$scope.clientid || !$scope.clientsecret){
			$scope.errorMessage = "Woops, you must enter a (valid) ClientID and ClientSecret";	
			return ;
		}		
		console.log("requestedscopes"+$scope.requestedscopes)
		if ($scope.requestedscopes === undefined)
			$scope.requestedscopes=''
		$http({
			url : $scope.OAUTH_URL,
			method : 'POST',
			headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
		 	data:  $.param({
		 		'grant_type':'client_credentials',
		 		'client_id':''+$scope.clientid,
		 		'client_secret': ''+$scope.clientsecret,
		 		'scope': ''+$scope.requestedscopes
		 	})
		}).success(function(data, status, headers, config) {	
			$scope.token = data.access_token;
			$scope.tokenDetails = data.scope;
			// Reply is of the form: "scope":"hybris.org_manage hybris.tenant=yaasgulps", which is confusing.  Separate out the tenant from the scopes
			
			$scope.tokenDetailsTenant = data.scope.split(" ").filter( entryWithEquals )[0].replace("hybris.tenant=","");
			$scope.tokenDetailsScopes = data.scope.split(" ").filter( entryWithoutEquals ).toString();
			
		}).error(function(data, status, headers, config) {
			$scope.token = '';
			$scope.errorMessage = "Woops, error occured in Getting token: "+ data.error 
		}); 
	}
	
	$scope.validateTenantName = function( clearMsg){
		if(clearMsg)
			$scope.errorMessage = ""
		if ($scope.tenantName)
			return true;
		$scope.errorMessage = "Woops, please provide a name for the Tenant field, eg. Adidas, or Nike, ..";
		return false;
	}
	
	$scope.token = null;
	$scope.includeToken='NO'	
	$scope.serverLocation='local'
	$scope.getReadyToCall(Restangular)	
});

</script>

<body  ng-app=tipsApp ng-controller="tipsController" >

<h2>YaaS Bite: Tokens and  Scopes</h2>	
	
	A client-front-end to request a token and use it to call the Tips Service.<br>

	<h3>Get a token:</h3>
	<a href="#" ng-click="requestToken()">Request a YaaS Token</a> for the YaaS Entity whose ClientID and ClientSecret are:<br>
	&nbsp;&nbsp; Client ID: <input name=clientid ng-model="clientid"> <br>
	&nbsp;&nbsp; Client Secret: <input name=clientsecret ng-model="clientsecret"> <br>			
	&nbsp;&nbsp; Requested Scopes (Optional space separated list of scopes): <input name=requestedscopes ng-model="requestedscopes"> 
	
	<div ng-show="token">
		<h3>Token returned:</h3>
		Token Value: {{token}}<br>
		Token Tenant (on whose behalf are these calls being made): {{tokenDetailsTenant}} <br>
		Token Scopes (which special permissions does this token have): {{tokenDetailsScopes}}<br>
		
		
		<h3>Select target for REST Calls</h3>
		Local server <input type="radio" ng-model="serverLocation" value=local ng-change='setBaseUrl()'> @ {{LOCAL_URL}}<br> 
		Server in cloud <input type="radio" ng-model="serverLocation" value=cloud  ng-change='setBaseUrl()'> @ {{CLOUD_URL}}<br>
		Server in cloud via api proxy <input type="radio" ng-model="serverLocation" value=apiproxy  ng-change='setBaseUrl()'> @ {{SERVICES_API_PROXY_URL}}<br>		
		
		<h3>Make REST calls to Tips Service</h3>	
		Include Token in headers to Tips webservice? 
		Yes <input ng-disabled="!token" type="radio" ng-model="includeToken" value=YES >
		No <input ng-disabled="!token" type="radio" ng-model="includeToken " value=NO  ><br>		
			
		Tenant name:<input name=tenantName ng-model="tenantName"/><br>					
		Ping the service @ <a href="#" ng-click="ping()">{{tenantName}}/ping</a><br>
		Get tips for tenant {{tenantName}} <a href="#" ng-click="getTips()">Call GET {{tenantName}}/tips</a><br>
		Post tip for tenant {{tenantName}} <a href="#" ng-click="postTip()">Call POST {{tenantName}}/tips</a> with "{ 'tip': ' <input name=tipText ng-model="tipText"/>' }"<br>
		Adjust tip for tenant {{tenantName}} <a href="#" ng-click="putTip()">Call PUT {{tenantName}}/tips/</a> <input name=tipId ng-model="tipId" type="number" /> with "{ 'tip': '<input name=tipText ng-model="tipText"/>' }"<br>
		Delete tip for tenant {{tenantName}} <a href="#" ng-click="deleteTip()">Call DELETE {{tenantName}}/tips</a> <input name=tipId ng-model="tipId"  type="number" /> <br>
		Get all tips from all tenants: </b><a href="#" ng-click="getAllTips()">Call GET /tips</a><br>		
		Invoke sensitiveMethodForVIPsOnly: </b><a href="#" ng-click="sensitiveMethodForVIPsOnly()">Call DELETE /tips</a> (Requires scope hybris.tips_vip)<br>		
	
		<h3 ng-show="responseData!=null">Response:</h3><div style="color:green" ng-show="responseData!=null">{{responseData|json}}</div>
	</div>	 
	<p style="color:red" ng-show="errorMessage">{{errorMessage|json}}</p>

</body>
</html>
