<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="mycss.css">
</head>
<script src="https://builder.yaas.io/public/js/vendor/jquery/dist/jquery.min.js"></script>
<script src="https://builder.yaas.io/public/js/vendor/underscore/underscore.js">	</script>
<script src="https://builder.yaas.io/public/js/vendor/angular/angular.js">	</script>
<script src="https://builder.yaas.io/public/js/vendor/restangular/dist/restangular.js">	</script>		
<script>

var app = angular.module('tipsApp', ['restangular']);

app.controller('tipsController', function($scope, Restangular, $http ) {		
	
	$scope.getReadyToCall = function( restangular ){
		restangular.setDefaultHeaders({});		
	}
	
	$scope.ping = function(){
		$scope.getReadyToCall(Restangular )	
		Restangular.one("ping").get().then(		
			function(data) {
				$scope.responseData.push(  data.toString() ); 
			}, 	
			function(response) {
				$scope.errorMessage = response.data.message;
		  	}
		);
	}
	
	$scope.riskyConnection = function(){
		$scope.getReadyToCall(Restangular )	
		Restangular.one("riskyConnection").get().then(		
			function(data) {
				$scope.responseData.push(  data.toString() ); 
			}, 
			function(response) {
				$scope.errorMessage = response.data.message;
		  	}
		);
	}
		
	$scope.veryRiskyConnection = function(){
		$scope.getReadyToCall(Restangular )	
		Restangular.one("veryRiskyConnection").get().then(		
			function(data) {
				$scope.responseData.push(  data.toString() ); 
			}, 
			function(response) {
				$scope.errorMessage = response.data.message;
		  	}
		);
	}
	
	$scope.toggleProblem = function(){
		$scope.getReadyToCall(Restangular )	
		Restangular.one("toggleProblem").get().then(		
			function(data) {
				$scope.responseData.push(  data.toString() ); 
				$scope.problem =  data.toString().indexOf("true")>-1;
			}, 
			function(response) {
				$scope.errorMessage = response.data.message;
		  	}
		);
	}
	
	$scope.problem = false;
	$scope.responseData=[]
	$scope.errorMessage=''
});

</script>

<body  ng-app=tipsApp ng-controller="tipsController" >

<h2>YaaS Bite: Handling risky connections with Hystrix</h2>	
	

	When the network problem is active, the nethod invoked by both riskyConnection and veryRiskyConnection <b>takes 15 seconds to copmlete</b> - an unacceptable user experience.<br>
	One endpoint wraps this method with hystrix to limit the response time to 2 seconds, the other not.<br>

	Toggle Simulated Network/Service Problem @ <a href="#" ng-click="toggleProblem()">/toggleProblem</a>
		
	<h3 ng-show="!problem"  style="color:green">Simulating Network Problem Inactive</h3>
	
	<h3 ng-show="problem"  style="color:red">Simulating Network Problem Active </h3>

	Ping the service @ <a href="#" ng-click="ping()">/ping</a><br>
	
	When the network problem is 
	Call Risky Connection <b>protected by Hystrix</b> @ <a href="#" ng-click="riskyConnection()">/riskyConnection</a><br>
	Call Risky Connection <b>unprotected by Hystrix</b> @ <a href="#" ng-click="veryRiskyConnection()">/veryRiskyConnection</a><br>

	<h3 ng-show="responseData!=null">Response:</h3>
	<div style="color:green" ng-repeat="rd in responseData track by $index">{{rd|json}}</div>
	<p style="color:red" ng-show="errorMessage">{{errorMessage|json}}</p>

</body>
</html>
