<html>
<head>
<link rel="stylesheet" type="text/css" href="mycss.css">
</head>
<script src="https://builder.yaas.io/public/js/vendor/jquery/dist/jquery.min.js"></script>
<script src="https://builder.yaas.io/public/js/vendor/underscore/underscore.js">	</script>
<script src="https://builder.yaas.io/public/js/vendor/angular/angular.js">	</script>
<script src="https://builder.yaas.io/public/js/vendor/restangular/dist/restangular.js">	</script>		
<script>
	var app = angular.module('tipsApp', ['restangular']);
	
	app.config(function(RestangularProvider) {
	});
	
	app.controller('tipsController', function($scope, Restangular) {

		$scope.onOpen = function( ) {
			var location = window.location.href.toString().replace("#", "").replace("/index.html", "");		
			if(location.charAt(location.length - 1)=='/')
				location = location.slice(0,-1);
			$scope.windowLocation = location;
		}
		
		$scope.clearFeedback=function(){
			$scope.responseData=null
			$scope.errorMessage=null
		}
		
		$scope.ping = function(){
			$scope.clearFeedback()	
			Restangular.one("ping").get().then(		
				function(data) {
					$scope.responseData = data; 
				}, 
				function(response) {
					$scope.errorMessage = response.status + ' '+response.data.message;
			  	}
			);
		}
		
		$scope.getTips = function(){
			$scope.clearFeedback();
			Restangular.all("tips").getList().then(
				function(data) {
					$scope.responseData = Restangular.stripRestangular(data)
				},
	    	    function(response){
	    	    	$scope.errorMessage=response.status + ' '+response.data;
	    	    }
			);
		}
		
	    $scope.postTip = function(){
	    	$scope.clearFeedback();
	    	if(!$scope.validateText(true))
    			return;
    		var json = { 'tip': ''+$scope.tipText }    	
    		Restangular.all("tips").post(json).then(
    			function(data) {
		    		$scope.getTips()
	    	    },
	    	    function(response){
	    	    	$scope.errorMessage=response.status + ' '+response.data;
	    	    }
	    	);
		}	
	    
	    $scope.putTip = function(){
	    	$scope.clearFeedback();
	    	if( !$scope.validateId(true) || !$scope.validateText(false) )
    			return;
	    	var json = { 'tip': ''+$scope.tipText }    	
	    	Restangular.one("tips/"+$scope.tipId).customPUT(json).then(
	    		function(data) {
    				$scope.getTips()
        		},
	    	    function(response){
	    	    	$scope.errorMessage=response.status + ' '+response.data.message;
	    	    }
        	);
		}	
	    
	    $scope.deleteTip = function(){
	    	$scope.clearFeedback();
	    	if(!$scope.validateId(true))
    			return;
	    	Restangular.one("tips/"+$scope.tipId).remove().then(
	    		function(data) {
	    			$scope.getTips()
	        	},
	    	    function(response){
	    	    	$scope.errorMessage=response.status + ' '+response.data.message;
	    	    }
	        );
		}	
	    
		$scope.validateText = function(clearMsg){
			if(clearMsg)
				$scope.errorMessage = ""
			if ($scope.tipText)
				return true;
			$scope.errorMessage = "You need to add a text for the tip";
			return false;
		}
		
		$scope.validateId = function( clearMsg){
			if(clearMsg)
				$scope.errorMessage = ""
			if ($scope.tipId && $scope.tipId >-1)
				return true;
			$scope.errorMessage = "The ID is invalid - select an ID from the list of Tips you have created";
			return false;
		}
	});		
	
</script>
	
<body ng-app="tipsApp" ng-controller="tipsController"   ng-init="onOpen()">

	<h2>YaaS Bite 2: Top Tips</h2>	
	A client-front-end to make REST calls to a Tips Service.<br><br>
	
		
	Ping the service @ <a href="#" ng-click="ping()"> {{windowLocation}}/ping</a><br>
	List the tips: call <a href="#" ng-click="getTips()">GET {{windowLocation}}/tips</a><br>
	Add a tip: call <a href="#" ng-click="postTip()">POST {{windowLocation}}/tips</a> with JSON body: { 'tip': '<input name=tipText ng-model="tipText" value="Don't eat fireworks"/>' } E.g. "Don't eat fireworks"<br>
	Update an existing tip: call <a href="#" ng-click="putTip()"> PUT {{windowLocation}}/tips/</a> with index: <input name=tipId ng-model="tipId" type="number" /> and JSON body { 'tip': '<input name=tipText ng-model="tipText" value="Don't eat fireworks"/>' }<br>
	Delete a tip: call <a href="#" ng-click="deleteTip()">DELETE {{windowLocation}}/tips</a> with index <input name=tipId ng-model="tipId"  type="number" /> <br>
	
	<p style="color:red" ng-show="errorMessage">Woops: {{errorMessage|json}}</p>
	<p style="color:green" ng-show="responseData!=null">Response: {{responseData|json}}</p>
</body>
</html>
